.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  

  .no-ellipsis {
    white-space: normal !important;
    overflow: visible !important;
  }


.mat-option {
    background-color: red !important;
  }