<!-- <app-toolbar></app-toolbar> -->

<!-- <app-tree></app-tree> -->

<!-- <app-tabs></app-tabs> -->

<!-- <app-grid-list></app-grid-list> -->

<app-autocomplete></app-autocomplete>


<br>

<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Number</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Customizing Angular Material component styles Test             "
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option  *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>


  <app-select></app-select>